body {
background: linear-gradient(158deg, #7f0f81, #b10c83, #7f0f81);
font-family: 'Montserrat', sans-serif;
font-size: 15px;
color: #ffffff;
line-height: 1.6;
}

*,
*:after,
*:befor {
	box-sizing: border-box;
}
.header {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}
.header__nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.header__logo {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Audiowide', cursive;
}
.header__img {
	width: 100px;

}
.nav {
	font-size: 14px;
	text-transform: initial;
	display: flex;
	align-items: center;
}
.nav__link {
	text-decoration: none;
	color: #ffffff;
	transition: color .2s linear;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	font-weight: 500;
	font-size: 17px;

}

.nav__link:hover {
	color: #97dbf3;

}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*main*/
.main {
	width: 100%;
	height: 100vh;
}